:root,
.j-theme {
  --j-spacing-0: 0;
  --j-spacing-2xs: 0.125rem;
  --j-spacing-xs: 0.25rem;
  --j-spacing-sm: 0.5rem;
  --j-spacing-md: 0.75rem;
  --j-spacing-lg: 1rem;
  --j-spacing-xl: 1.25rem;
  --j-spacing-2xl: 1.5rem;
  --j-spacing-3xl: 2rem;
  --j-spacing-4xl: 2.5rem;
  --j-spacing-5xl: 3rem;
}
