:root,
.j-theme {
  --j-font-family:
    Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --j-font-size-xs: 0.75rem;
  --j-font-size-sm: 0.875rem;
  --j-font-size-md: 1rem;
  --j-font-size-lg: 1.125rem;
  --j-font-size-xl: 1.35rem;
  --j-font-size-2xl: 2rem;
  --j-line-height-tight: 1.2;
  --j-line-height-normal: 1.5;
  --j-font-weight-normal: 400;
  --j-font-weight-medium: 550;
  --j-font-weight-semibold: 650;
  --j-font-weight-bold: 700;

  --jr-font-xs: var(--j-font-size-xs);
  --jr-font-sm: var(--j-font-size-sm);
  --jr-font-md: var(--j-font-size-md);
  --jr-font-lg: var(--j-font-size-lg);
  --jr-font-xl: var(--j-font-size-xl);
  --jr-font-2xl: var(--j-font-size-2xl);
}
