@if (visible()) {
  <div
    #overlayRoot
    class="j-dialog__portal"
    data-jc-name="dialog"
    data-jc-section="portal"
    data-j-open="true"
    [style.z-index]="zIndex || null"
  >
    <div
      [class]="backdropClasses"
      data-jc-name="dialog"
      data-jc-section="backdrop"
      data-j-open="true"
      (mousedown)="handleBackdropClick($event)"
    >
      <section
        #dialogPanel
        jFocusTrap
        [class]="dialogClasses"
        data-jc-name="dialog"
        data-jc-section="root"
        data-jc-extend="header body footer close"
        data-j-open="true"
        role="dialog"
        [attr.aria-modal]="modal() ? 'true' : 'false'"
        [attr.aria-labelledby]="header() ? titleId : null"
        [attr.aria-label]="header() ? null : 'Dialog'"
        [style.width]="panelWidth || null"
        [style.height]="panelHeight || null"
        [style.transform]="draggable() ? 'translate(' + dragX + 'px, ' + dragY + 'px)' : null"
        tabindex="-1"
        (pointermove)="moveDrag($event); moveResize($event)"
        (pointerup)="endDrag(); endResize()"
        (pointercancel)="endDrag(); endResize()"
      >
        @if (!headless() && (header() || closable())) {
          <j-overlay-header
            [title]="header()"
            [titleId]="titleId"
            [closable]="closable()"
            [draggable]="draggable()"
            closeLabel="Close dialog"
            closeStyleClass="j-dialog__close"
            (close)="close('close-button')"
            (pointerdown)="startDrag($event)"
          >
            <span jOverlayHeader
              ><ng-content select="[jDialogHeader], [jrDialogHeader]"></ng-content
            ></span>
          </j-overlay-header>
        }
        <div class="j-dialog__body" data-jc-section="body" [class.is-headless]="headless()">
          <ng-content></ng-content>
          <ng-content select="[jDialogBody], [jrDialogBody]"></ng-content>
        </div>
        @if (!headless()) {
          <footer class="j-dialog__footer" data-jc-section="footer">
            <ng-content select="[jDialogFooter], [jrDialogFooter]"></ng-content>
          </footer>
        }
        @if (resizable()) {
          <span
            class="j-dialog__resize"
            data-jc-section="resize"
            aria-hidden="true"
            (pointerdown)="startResize($event)"
          ></span>
        }
      </section>
    </div>
  </div>
}
